<section class="py-3">
    <div class=" container text-center">
        <h1 class="title py-3">PORTFOLIO COMPONENT</h1>
        <span class="star"><i class="fa-solid fa-star"></i></span>
   
        <div class="row">
            <div *ngFor="let item of portfolioItems" (click)="showImage(item)" (id)="item.name" class="col-lg-4 col-md-8 col-sm-12">
                <div class="py-3">
                    <div  class="card border-0 rounded-4 overflow-hidden position-relative">
                        <img  [src]="item.imagePath" alt="" />
                        <div
                            class="hover-div position-absolute start-0 end-0 top-0 bottom-0 bg-self-green d-flex justify-content-center align-items-center">
                            <span class="plus text-light"><i class="fa-solid fa-plus"></i></span>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div (click)="closeImage()" *ngIf="selectedCard" class="showImg position-fixed start-0 end-0 top-0 bottom-0  d-flex justify-content-center align-items-center">
                <div class="imgShowContainer w-50" (click)="$event.stopPropagation()">
                    <img id="imgShowClose"  class="w-100" [src]="selectedCard.imagePath" alt="">
                </div>
            </div>

        </div>
    </div>

</section>