input{
    border: 0px ;
    background-color: transparent;

}
#contact{
    background-color: #ffffff;
    color: black;
}
#contact h1{
    color: #2c3e50;
}

input:focus{
    border: 0px transparent;
    background-color: transparent;
}

label{
    position: relative;
    top: 1000px;
    overflow: hidden;
    color: aquamarine;
}



